// Colors
$clr1: #ffd31d;
$clr2: #fae7cb;
$clr3: #ffb385;
$clr4: #ff7272;
$clrb: #000000;
$clrw: #ffffff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;